@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-size: 16px;
    background-color: #E1FFEE;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, p, #nav-list a {
    color: #21303E;
}
/* HEADER */
#header-nav {
    background-color: #7FBCD2;
    min-height: 80px;
}
.navbar-brand h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: .5;
    margin-bottom: 20px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none; 
}
.navbar-header button.navbar-toggle {
    clear: right;
    margin-top: 20px;
}
#nav-list {
    margin-top: 10px;
}
#nav-list a {
    text-align: center;
}
#nav-list a:hover {
    background-color: rgba(224, 255, 238, 0.4);
}
/* MAIN */
#title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 30px 0 40px 0;
}
#box {
    text-align: justify;
    background-color: #7FBCD2;
    padding: 0 20px;
}
h3 {
    font-size: 1.2em;
    padding: 8px 0 4px 0;
}
p {
    font-size: 0.9em;
}
.navbar-brand h1, #nav-list a, h3 {
    font-weight: bold;
}
/* FOOTER */
.copyright {
    margin: 30px;
}
.copyright a:hover {
    text-decoration: none;
    font-weight: bold;
}